<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764571680415-ndc96etieogf7qekihf2bhu88n64c6lm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764571680415-ndc96etieogf7qekihf2bhu88n64c6lm</string>
	<key>API_KEY</key>
	<string>AIzaSyBkEQrgOimR1f55VXo-GIp8h3kh8L7vDMc</string>
	<key>GCM_SENDER_ID</key>
	<string>764571680415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocoon</string>
	<key>PROJECT_ID</key>
	<string>cocoontest</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoontest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764571680415:ios:c2c41e9b9ddfe7f782ecaa</string>
	<key>DATABASE_URL</key>
	<string>https://cocoontest.firebaseio.com</string>
</dict>
</plist>